@{
    ViewBag.Title = "Logout";
}

<h2>Logout</h2>

<p>Sei sicuro di voler eseguire il logout?</p>

@using (Html.BeginForm("PerformLogout", "Account"))
{
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Logout</button>
}