#sfondo {
    background-image: url("https://www.today.it/~media/horizontal-hi/56919187605090/la-pizza-napoletana-cotta-al-forno-a-legna-fabrizio-pullara.jpg");
    height: 70vh;
    background-size: cover;
}
