@{
    ViewBag.Title = "Logged";
    string username = User.Identity.Name;
}

@using (Html.BeginForm("Logout", "Login"))
{
    <div class="container d-flex flex-column justify-content-center w-50">
        <h2 class="text-danger text-center mb-5">Effettua il Logout</h2>
        @Html.AntiForgeryToken()
        <button class="btn btn-danger m-auto" style="width: 20%;">Logout</button>
    </div>
}
