@{
    ViewBag.Title = "Incassi";
}

<h2>Incassi del giorno</h2>

@using (Html.BeginForm("Incassi", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-6">
            <label for="data">Seleziona una data:</label>
            <input type="date" id="data" name="data" class="form-control" value="@ViewBag.DataSelezionata" required />
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary mt-4">Visualizza Incassi</button>
        </div>
    </div>
}

@if (ViewBag.CountOrdiniEvasi != null && ViewBag.TotaleIncassoGiornata != null)
{
    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Ordini evasi</h4>
            <p>Numero di ordini evasi nella giornata: @ViewBag.CountOrdiniEvasi</p>
        </div>
        <div class="col-md-6">
            <h4>Totale incasso</h4>
            <p>Totale incasso della giornata: @ViewBag.TotaleIncassoGiornata €</p>
        </div>
    </div>
}
else
{
    <p>Nessun dato disponibile per la data selezionata.</p>
}

